
/*hide contents*/
.cartContent{
             display:none;
}
.magnifyWindow{
              display:none;
}
/* ----------- */
.containerMain{
width:100%;
height:auto;
}

/*header*/
.header{ width:100%; 
        height:20%;
        }
        
.headerLogo{ height:100%; width:inherit;}

/*app body*/

.body{
        height:45%;
        width:100%;
        
        
}

.bodyContent{

               height:90%;
               width:inherit;
               border-top:solid powderblue 3px;
                margin:3px 3px 3px 3px;
                padding-top:6%;
}
.bodyControl{
           height:5%;
           width:100%;
           background-color:white;
            border-bottom:solid powderblue 3px;
            display:table;
            color:red;
}
.magnify{
         width:50%;
         height:inherit;
         display:table-cell;
         padding-left:25px;
         position:relative;
         top:-50;
         left:0;

}

.buy{
         width:50%;
         height:inherit;
         display:table-cell;
         text-align:right;
         padding-right:25px;
         position:relative;
         bottom:50;
         right:0;

}
/*magnify and buy button size*/
.buy button{
    width:50%;
    height:100%;
    font-size:1em;
 }
 
.magnify button{
     width:50%;
     height:100%;
     font-size:1em;

}


/* app footer */

.footer{

          height:25%;
          width:100%;
          
}

.tabler{ 

          height:100%;
          width:inherit;
          display:table;
          
}

.footerLeft{
           display:table-cell;
           width:50%;
           height:100%;
           padding-top:7%;
}

.footerLeftContent{
           width:100%;
           height:100%;

}

.footerRight{
           display:table-cell;
           width:50%;
           height:100%;
           padding-top:7%;

}

.footerRightContent{
          width:100%;
          height:100%;

}



/*black bar*/

.blackBar{
           width: 100%;
           height:10%;

}

.blackBarContent{

                 height:83%;
                 width:97%;
                 background-color:black;
                 margin:5px 5px 5px 5px;
}

/*logo actual contents*/

.headerLogo img {
           height:100%;
           width:100%;
}

/* body content image*/

.bodyContent img{
           height:100%;
           width:100%;

}

/* footer image */
.footerRightContent img{
                  max-width:8em;
                   max-height:9em;

}

.footerLeftContent img{
                    max-width:8em;
                    max-height:9em;

}

/*cart */
.cart{
     position:absolute;
     right:0;
     top:0;
     height:5%;
     width:15%;
     background-color:pink;
     display:table;
}
.cart button{
     height:100%;
     width:70%;
     font-size:1em;
}
.cartWord{
       font-weight:bold;
       color:black;
       display:table-cell;
}
.cartCount{
          color:red;
          diaplay: table-cell:
           
}
.cartContent{
      position: absolute;
      top:0;
      left:20;
      background-color:white;
      border: double powderblue 2px;
      width:90%;
      height:100%;
        
}
.cartCloser{
            width:100%;
            height:5%;
            text-align:right;
            font-size:2em;
            display:table;

}

.closerSpacerLeft{
             width:90%;
             display:table-cell;
}
.closerSpacerRight{
             display:table-cell;

}
.closerSpacerRight button{
             height:100%;
}
/*magnify*/
.magnifyWindow{
         height:100%;
         width:80%;
         position:absolute;
         left:0;
         top:0;
         border:double powderblue 2px;
         background-color:white;
         margin-left:10%;
         
}
.imageMagnified{
    width:100%;
    height:calc(100% - 20px);
    background-color:white;
}
.imageMagnified img{
    height:100%;
    width:100%;

}



